/* Shared Styles */
*{
    font-family: Work Sans;
}

.btn-primary{
    color: #FFF;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
}
/* Header Section */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
    list-style: none;
}
nav li{
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}
/* Banner Section */

.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title, .sponsors-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-discription, .sponsors-discription{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/* Main Section Start */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* Features Team Section */
.team-container{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
}
.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
.contant-title{
    font-size: 2.8rem;
}
.contant-title .Quick-list{
    color: #727272;
    font-weight: 500;
}
.contant-title .of-our{
    color: #131313;
    font-weight: 700;
}
.contant-title .feature{
    color: #FF900E;
    font-weight: 700;
}
.team-discription, .facts-discription{
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* Some Facts Section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .cards{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container .cards-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .cards-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* Some Cards Section */
.sponsor-container{
    text-align: center;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
}
.sponsor-img-container img{
    width: 165px;
}



/* Media Query for different viewport */
/* Mobile Screen */

@media screen and (max-width: 576px) {
    header, .section-title, .facts-discription{
        padding: 20px;
    }
    .section-title{
        margin-bottom: 1px;
    }
    .facts-discription{
        margin-top: 2px;
    }
    nav,
    .team-container,
    .facts-card-container,
    .sponsor-img-container
    {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .team-content, .facts-card-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    .banner-title{
        font-size: 1.8rem;
    }

}

/* For Medium Screen */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }
    nav, .team-container, .sponsor-img-container 
    {
        flex-direction: column;
    }
}